* {
	font-family: 'Raleway', sans-serif;
}
  
html, body {
	height: 100000px;
}

/* header custom */

#custom_header {
	background-color: #408f92;
	border-color: #408f92;
	color: #fdfdfd;
	/*height: 70px;*/
	/*font-size: 110%;*/
	vertical-align: bottom;
}

#navbar_brand_custom {
	color: #fdfdfd;
	font-family: 'Lobster Two', cursive;
	font-size: 38px;
}

#navbar_list_custom {
	color: #fdfdfd;
}

#nav_custom1 {
	color: #fdfdfd;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 20px;
	vertical-align: sub;
}

#nav_custom2 {
	color: #fdfdfd;	
	font-family: 'Hammersmith One', sans-serif;
	font-size: 20px;
	vertical-align: sub;
}

#nav_custom3  {
	color: #fdfdfd;	
	font-family: 'Hammersmith One', sans-serif;
	font-size: 20px;
	vertical-align: sub;
}

#nav_custom4 {
	color: #fdfdfd;	
	font-family: 'Hammersmith One', sans-serif;
	font-size: 20px;
	vertical-align: sub;
}

#nav_custom5 {
	color: #fdfdfd;	
	font-family: 'Hammersmith One', sans-serif;
	font-size: 20px;
	vertical-align: sub;
}

#nav_custom6 {
	color: #fdfdfd;	
	font-family: 'Hammersmith One', sans-serif;
	font-size: 20px;
	vertical-align: sub center;
}

/* carousel custom */



.carousel {
  height: 100000px;
  margin-bottom: 60px;
  margin-top: 50px;
}

.carousel .item {
  height: 100000px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100000px;
}

.btn.btn-lg.btn-primary.caro.cust {
	background-color: #265557;
	border-color: #265557;
}

#PopularSets {
	background-color: #eff5f6;
  height: 100000px;
}

#RecentSets {
  height: 100000px;
	background-color: #eff5f6;
}

#content {
	padding-top: 100px;
}